:root{
    --background: #6dcedf;
    --footer: #034AA6;
    --header: #0455BF;
    --sideBar: #BF6FA3;
    --projects: #0BB3D9;
}
/* Header */

.header{   
    padding: 20px 35px;
    justify-content: space-between;
    flex-wrap: wrap;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: -webkit-sticky;
    position: sticky;
    background-color: var(--background);
}

header nav {
    display: inline-block;
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

header nav ul a {
    font-weight: lighter;
    font-size: 1.55vw;
    padding: 10px ;
}


/*end of header*/
/*body section*/
body {
    background-color: var(--background);
}
/* header*/

/* end of header*/
/* hero */
.about {
    background-color: #29dba0   ;
    text-align: center;
}
.about h2 {
    font-weight: bold;
    font-size: 28px;
}

.about img {
    width: 150px;
    height: 150px;
    display: inline;
}

.about-step p{
    padding: 30px;
}

.hero{
    padding: 15px;
}
.hero h2{
    text-align: center;
    margin: 15px;
    font-weight: bold;
    font-size: 30px;
}
/*projcets section start*/
.projects{
    background-color: var(--projects);
    place-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}


.projects-card {
    background-color: #64ae09;
    margin: 5px;
}

.projects-card img:hover {
    width: 500px;
    height: 400px;
}

.projects-card img{
    width: 450px;
    height:350px;
}

/*end of projects section*/

/* footer */
footer{
    background-color: var(--footer);
    text-align: center;
    height: 50px;
    color: var();
}

/*end of footer */